<!DOCTYPE html>
<html>
    <head>
        <meta charset = "utf-8" />
        <meta name = "viewport" content = "width = device-width, initial-scale = 1">

        <title> {% block title %} Home {% endblock %} </title>

    </head>
    <body>
        <!--<nav class="navbar"> <!-- navbar class here, implement navbar in static/index.js -->
            <!--
            <button 
                class="navbar-toggle" 
                type="button" 
                data-toggle="collapse" 
                data-target="#navbar"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" id="login" href="/login"> Login </a>
                    <a class="nav-item nav-link" id="signup" href="/sign-up"> Sign Up </a>
                    <a class="nav-item nav-link" id="login" href="/logout"> Logout </a>
                    <a class="nav-item nav-link" id="login" href="/"> Home </a>
                </div>    
            </div>    
        </nav>   -->

        <script>
            type = "text/javascript"
            src ="{{ url_for('static', filename = 'index.js')}}"
        </script>
    </body>
</html>